/* #road
{
    height: 100px;
    background-color: #CCC;
    border-bottom: 5px solid;
    border-top: 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#line
{
    position: absolute;
    width: 100%;
    border-bottom: 5px dashed #ffffff;
}




#car
{
    height: 100px;
    width: 100px;
    background: url(carOrange.png);
    background-repeat: repeat;
    background-size: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}



 */


 #road {   
    height: 150px;
    background-color: #CCC;
    border-bottom: 5px solid;
    border-top: 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#line {
    height: 10px;
    border-top: 5px dashed #FFF;
}

#car {
    width: 100px;
    height: 50px;
    top: 175px;
    position: absolute;
    background: url(carOrange.png);
    background-size: 100%;
    background-repeat: no-repeat;
}




/* #carContain
{
    position: relative;
}
#topCar
{
    position: absolute;
    background-color: crimson;
    height: 90px;
    width: 120px;
    border-radius: 50%;
}

#bottomCar
{
    position: absolute;
    top: 50px;
    background-color: crimson;
    height: 50px;
    width: 170px;
}

#roue1
{
    border-radius: 100%;
    background-color: black;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 70px;
}

#roue2
{
    border-radius: 100%;
    background-color: black;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 70px;
    left: 80px;
} */